@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#App,
#__next {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Poppins, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-flow: column;
}

* {
  box-sizing: border-box;
}